<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span>Warehouses Transactions</span>
        </h2>
    </div>
</md-toolbar>
<input ng-model="filterTransaction">
<md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="timeOrder">
        <tr md-row>
            <th md-column md-order-by="timestamp"><span>Timestamp</span></th>
            <th md-column><span>From Warehouse</span></th>
            <th md-column>To Warehouse (g)</th>
            <th md-column>Goods Type</th>
            <th md-column md-numeric>Goods Amount</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="name" md-auto-select
            ng-repeat="transaction in transactionsList | orderBy: timeOrder | filter:{toWarehouse:filterTransaction} as filterResult track by transaction.timestamp">
            <td md-cell>{{transaction.timestamp}}</td>
            <td md-cell>{{transaction.fromWarehouse}}</td>
            <td md-cell>{{transaction.toWarehouse}}</td>
            <td md-cell>{{transaction.goodType}}</td>
            <td md-cell>{{transaction.amount}}</td>

        </tr>
        </tbody>
    </table>
</md-table-container>
    