<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span>Warehouses manager</span>
        </h2>
        <span flex></span>
        <md-button class="md-button" ng-click="warehouse.addWarehouse($event)" aria-label="Add New Warehouses">
            Add Warehouses
        </md-button>
        <md-button class="md-button" ng-click="warehouse.addGood($event)" aria-label="Add New Warehouses">
            Add Good
        </md-button>
    </div>
</md-toolbar>
<md-expansion-panel-group ng-if="warehouseList.length != 0" md-component-id="panelGroup" multiple>
    <md-expansion-panel md-component-id="{{item.name}}" ng-repeat="item in warehouseList track by item.name">
        <md-expansion-panel-collapsed>
            <div class="md-title">{{item.name}}<span>({{warehouse.countAmount(wGoods)}})</span></div>
            <div class="md-summary">{{item.address}}</div>
            <md-button ng-disabled="wGoods.length > 0" ng-click="warehouse.deleteWarehouse(item.name)">Delete</md-button>
            <md-button ng-click="warehouse.editWarehouse($event, item)">Edit</md-button>
            <md-expansion-panel-icon></md-expansion-panel-icon>
        </md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header>
                <div class="md-title">{{item.name}}</div>
                <div class="md-summary">{{item.address}}</div>
                <md-button ng-disabled="wGoods.length > 0" ng-click="warehouse.deleteWarehouse(item.name)">Delete</md-button>
                <md-button ng-click="warehouse.editWarehouse($event, item)">Edit</md-button>
                <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <div ng-repeat="(key, goodItem) in goodsList | filter:{w_name:item.name} as wGoods">
                    <h3>{{goodItem.type}}<span>({{goodItem.amount}})</span></h3>
                    <span flex></span>
                    <md-button ng-click="warehouse.deleteGoods(goodItem)">Delete</md-button>
                    <md-button ng-click="warehouse.transferGoods($event, goodItem)">Transfer</md-button>
                </div>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <div flex></div>
                <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

</md-expansion-panel-group>
<div ng-if="warehouseList.length == 0" layout="row" layout-align="center center">
    <h3>No warehouses yet.</h3>
</div>