<md-dialog aria-label="New Warehouse">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create New Warehouse</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <form name="userForm">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required ng-model="warehouse.name">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Address</label>
                <input required ng-model="warehouse.address">
            </md-input-container>

        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="submit(warehouse)">
            Submit
        </md-button>
    </md-dialog-actions>
</md-dialog>